<!-- End Wrapper -->
<!-- All Jquery -->
<script src="/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
</body>

</html>